*.pyc
*.log
build
_build
dist
.eggs
*.egg-info
test/fixtures/testIgor
test/fixtures/testIgorHttps
test/fixtures/testIgorCaps
test/fixtures/perfIgor
test/fixtures/perfIgorHttps
test/fixtures/perfIgorCaps
.vscode
tmp
