*.pyc
*.log
build
_build
dist
.eggs
*.egg-info
.coverage
.coverage.*
coverage_html
igor.profile
test/fixtures/testIgor
test/fixtures/testIgorHttps
test/fixtures/testIgorCaps
test/fixtures/perfIgor
test/fixtures/perfIgorHttps
test/fixtures/perfIgorCaps
.vscode
tmp
