$def with (action=None, cid=None, childCid=None, **kwargs)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Igor Capabilities</title>
	<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	</style>
</head>
<body>

	$if action == None or action == 'list':
		<h1>Igor Capabilities</h1>
	
		$if 'user' in SESSION and SESSION.user:
			<p>
				You are logged in as $SESSION.user.
				$if cid == None:
					Here is the list of all capabilities assigned to your user identity.
				$else:
					Here is the information on capability ${cid}.
			</p>
		$else:
			<p>
				You are not logged in.
				$if cid == None:
					Here is the set of default capabilities you have access to.
				$else:
					Here is the information on capability ${cid}.
			</p>
		
		<table style="width:100%">
			<tr>
				<th>OP</th>
				<th>ID</th>
				<th>GET<br>PUT<br>POST<br>DELETE</th>
				<th>Object</th>
				<th>Comment</th>
				<th>Rest</th>
				<th>Children</th>
			</tr>
		
			$ capList = COMMANDS.accessControl(subcommand='getTokenDescription', token=token, tokenId=cid)
			$for cap in capList:
				$ cid = cap.pop('cid', '')
				$ childIDs = cap.pop('child', [])
				$ if type(childIDs) != type([]): childIDs = [childIDs]
				<tr>
					<td>
						$if cap.pop('owner', ''):
							<a href="/capabilities.html?action=transfer&cid=${cid}">transfer</a>
						$if cap.pop('delegate', ''):
							<br>
							<a href="/capabilities.html?action=delegate&cid=${cid}">delegate</a>
							<br>
							<a href="/capabilities.html?action=export&cid=${cid}">export</a>
					</td>
					<td>${cid}</td>
					<td align="center">
						${cap.pop('get', '-')}<br>
						${cap.pop('put', '-')}<br>
						${cap.pop('post', '-')}<br>
						${cap.pop('delete', '-')}
					</td>
					<td>${cap.pop('obj', '')}</td>
					<td>${cap.pop('comment', '')}</td>
					<td>
						$for k,v in cap.items():
							${k}=${v}<br>
					</td>
					<td>
						$for c in childIDs:
							<a href="/capabilities.html?action=list&cid=${c}">${c}</a>
							<a href="/capabilities.html?action=revoke&cid=${cid}&childCid=${c}">(revoke)</a>
							<br>
					</td>
				</tr>
		</table>
		$if cid != None:
			<p><a href="/capabilities.html">Return to full listing</a></p>
	$elif action == "delegate":
		<h1>Delegate capability ${cid}</h1>
		
		$ cap = COMMANDS.accessControl(subcommand='getTokenDescription', token=token, tokenId=cid)[0]
		
		<form action="/internal/accessControl/newToken">
			<table>
				<tr>
					<th>Field</th>
					<th>New</th>
					<th>Old</th>
				</tr>
				<input name="tokenId" type="hidden" value="${cid}">
				<tr>
					<td>Owner</td>
					<td><input name="newOwner" type="text" value="/data/identities/EDIT"></td>
					<td>...</td>
				</tr>
				<tr>
					<td>Path</td>
					<td><input name="newPath" type="text" value="${cap['obj']}/EDIT"></td>
					<td>${cap['obj']}</td>
				</tr>
				<tr>
					<td>Can Delegate</td>
					<td>
						$if cap.get('delegate'):
						<input name="delegate" type="checkbox" value="true" checked>
					</td>
					<td>${'yes' if cap.get('delegate') else 'no'}</td>
				</tr>			
				$for right in ['get', 'put', 'post', 'delete']:
					<tr>
						<td>${right}</td>
						$ disabled = '' if cap.get(right, None) else ' disabled'
						<td>
							<select name="${right}" ${disabled}>
								$ selected = ' selected' if not cap.get(right) else ''
								<option value="" ${selected}>No access</option>
								$ selected = ' selected' if cap.get(right) == 'self' else ''
								<option value="self" ${selected}>self</option>
								$ selected = ' selected' if cap.get(right) == 'descendant-or-self' else ''
								<option value="descendant-or-self" ${selected}>descendant-or-self</option>
								$ selected = ' selected' if cap.get(right) == 'descendant' else ''
								<option value="descendant" ${selected}>descendant</option>
								$ selected = ' selected' if cap.get(right) == 'child' else ''
								<option value="child" ${selected}>child</option>
							</select>
						</td>
						<td>${cap.get(right, 'no access')}</td>
					</tr>
				<tr>
					<td>Comment</td>
					<td><input name="comment" type="text"></td>
					<td>${cap.get('comment', '')}</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Delegate"></td>
					<td></td>
				</tr>
			</table>
		</form>
		<p><a href="/capabilities.html">Return to listing</a></p>
	$elif action == "transfer":
		<h1>Delegate capability ${cid}</h1>
		
		$ cap = COMMANDS.accessControl(subcommand='getTokenDescription', token=token, tokenId=cid)[0]
		
		<form action="/internal/accessControl/passToken">
			<table>
				<tr>
					<th>Field</th>
					<th>New</th>
					<th>Old</th>
				</tr>
				<input name="tokenId" type="hidden" value="${cid}">
				<tr>
					<td>Owner</td>
					<td><input name="newOwner" type="text" value="/data/identities/EDIT"></td>
					<td>...</td>
				</tr>
				<tr>
					<td>Path</td>
					<td>${cap['obj']}</td>
					<td>${cap['obj']}</td>
				</tr>				
				$for right in ['get', 'put', 'post', 'delete']:
					<tr>
						<td>${right}</td>
						<td>${cap.get(right, 'no access')}</td>
						<td>${cap.get(right, 'no access')}</td>
					</tr>
				<tr>
					<td>Comment</td>
					<td>${cap.get('comment', '')}</td>
					<td>${cap.get('comment', '')}</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Transfer"></td>
					<td></td>
				</tr>
			</table>
		</form>
		<p><a href="/capabilities.html">Return to listing</a></p>
	$elif action == "export":
		<h1>Export capability ${cid}</h1>
		
		$ cap = COMMANDS.accessControl(subcommand='getTokenDescription', token=token, tokenId=cid)[0]
		
		<form action="/internal/accessControl/exportToken">
			<table>
				<tr>
					<th>Field</th>
					<th>New</th>
					<th>Old</th>
				</tr>
				<input name="tokenId" type="hidden" value="${cid}">
				<tr>
					<td>Subject</td>
					<td>
						<select name="subject" required>
						$for sub in COMMANDS.accessControl(subcommand='getSubjectList'):
							<option value="$sub">$sub</option>
						</select>
					</td>
					<td>n.a.</td>
				</tr>
				<tr>
					<td>Lifetime (seconds)</td>
					<td><input name="lifetime" type="text" value=""></td>
					<td>n.a.</td>
				</tr>
				<tr>
						<td>Can Delegate</td>
						<td>
							$if cap.get('delegate'):
							<input name="delegate" type="checkbox" value="true">
						</td>
						<td>${'yes' if cap.get('delegate') else 'no'}</td>
				</tr>			
				$for right in ['get', 'put', 'post', 'delete']:
					<tr>
						<td>${right}</td>
						$ disabled = '' if cap.get(right, None) else ' disabled'
						<td>
							<select name="${right}" ${disabled}>
								$ selected = ' selected' if not cap.get(right) else ''
								<option value="" ${selected}>No access</option>
								$ selected = ' selected' if cap.get(right) == 'self' else ''
								<option value="self" ${selected}>self</option>
								$ selected = ' selected' if cap.get(right) == 'descendant-or-self' else ''
								<option value="descendant-or-self" ${selected}>descendant-or-self</option>
								$ selected = ' selected' if cap.get(right) == 'descendant' else ''
								<option value="descendant" ${selected}>descendant</option>
								$ selected = ' selected' if cap.get(right) == 'child' else ''
								<option value="child" ${selected}>child</option>
							</select>
						</td>
						<td>${cap.get(right, 'no access')}</td>
					</tr>
				<tr>
					<td>Comment</td>
					<td><input name="comment" type="text"></td>
					<td>${cap.get('comment', '')}</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Export"></td>
					<td></td>
				</tr>
			</table>
		</form>
		<p><a href="/capabilities.html">Return to listing</a></p>
	$elif action == "revoke":
		<h1>Revoke capability ${childCid}</h1>
		
		$ cap = COMMANDS.accessControl(subcommand='getTokenDescription', token=token, tokenId=childCid)[0]
		
		<form action="/internal/accessControl/revokeToken">
			<table>
				<tr>
					<th>Field</th>
					<th>Value</th>
				</tr>
				<input name="parentId" type="hidden" value="${cid}">
				<input name="tokenId" type="hidden" value="${childCid}">
				<tr>
					<td>ID</td>
					<td>${childCid}</td>
				</tr>				
				<tr>
					<td>Parent</td>
					<td>${cid}</td>
				</tr>				
				$for right in ['get', 'put', 'post', 'delete']:
					<tr>
						<td>${right}</td>
						<td>${cap.pop(right, 'no access')}</td>
					</tr>
				<tr>
					<td>Comment</td>
					<td>${cap.pop('comment', '')}</td>
				</tr>
				<tr>
					<td>Children</td>
					<td>
						$for gcid in cap.pop('child', []):
							${gcid}
							<br>
					</td>
				</tr>
				$for k, v in cap.items():
					<tr>
						<td>${k}</td>
						<td>${v}</td>
					</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Revoke"></td>
				</tr>
			</table>
		</form>
		
		<p><a href="/capabilities.html">Return to listing</a></p>

</body>
</html>
