$def with (action=None, device=None, **kwargs)
$code:
    def doList(token):
        allNames = _getNames('devices/*', token) + _getNames('sensors/*', token) + _getNames('status/sensors/*', token) + _getNames('status/devices/*', token)
        allNames = list(set(allNames))
        allNames.sort()
        rv = []
        for name in allNames:
            descr = dict(name=name)
            hostname = None
            representing = None
            if DATABASE.getElements('devices/' + name, 'get', token):
                descr['isDevice'] = True
                hostname = DATABASE.getValue('devices/%s/hostname' % name, token)
                representing = 'devices/' + name
            if DATABASE.getElements('sensors/' + name, 'get', token):
                descr['isSensor'] = True
                hostname = None
                representing = 'sensors/' + name
            if hostname:
                descr['hostname'] = hostname
                
            if DATABASE.getElements('status/devices/' + name, 'get', token):
                descr['status'] = '/data/status/devices/' + name
            elif DATABASE.getElements('status/sensors/' + name, 'get', token):
                descr['status'] = '/data/status/sensors/' + name
            
            if representing:
                actionElements = DATABASE.getElements("actions/action[representing='%s']" % representing, 'get', token)
                actionPaths = []
                for e in actionElements:
                    actionPaths.append(DATABASE.getXPathForElement(e))
                if actionPaths:
                    descr['actions'] = actionPaths
                descr['representing'] = representing
            rv.append(descr)
        return rv

    def _getNames(path, token):
        allElements = DATABASE.getElements(path, 'get', token)
        rv = []
        for e in allElements:
            name = e.tagName
            if ':' in name: continue
            rv.append(name)
        return rv

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Igor Devices and Sensors</title>
	<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	</style>
</head>
<body>

	$if action == None or action == 'list':
		<h1>Igor Devices and Sensors</h1>
	
		$if 'user' in SESSION and SESSION.user:
			<p>
				You are logged in as $SESSION.user.
				$if SESSION.user != 'admin':
					You may not have sufficient permissions for the commands below unless you login as user <i>admin</i>.
			</p>
		$else:
			<p>
				You are not logged in. This page will probably not render correctly.
			</p>
		
		<h2>Igor Devices</h2>
		
		<p>In Igor terms, a <i>device</i> is something that Igor may send commands to. It exports some sort of service (for example
		using <i>http</i> or <i>https</i>) that Igor can contact. If something is a device as well as a <i>sensor</i> it will be listed
		amongst the devices here.
		</p>
		
		<table style="width:100%">
			<tr>
				<th>Name</th>
				<th>Hostname</th>
				<th>Device?</th>
				<th>Sensor?</th>
				<th>Entry</th>
				<th>Status Entry</th>
				<th>Secret Shared key?</th>
				<th>Actions</th>
				<th>OP</th>
			</tr>
			$ allKeys = COMMANDS.accessControl(subcommand='getKeyList', token=token)
			$ allKeysAsTuples = [(k.get('iss', ''), k.get('aud', ''), k.get('sub', '')) for k in allKeys]
			$ allKeysAsTuples.sort()
			$ allKeyAudiences = set([k.get('aud') for k in allKeys])
			$ deviceList = doList(token)
			$for device in deviceList:
				$ name=device.get('name')
				$ defaultHostname = ('(%s.local)' % name) if device.get('isDevice') else ''
				$ hostName = device.get('hostname', defaultHostname)
				$ hasSecretKey = hostName in allKeyAudiences or ('http://%s' % hostName) in allKeyAudiences or ('https://%s' % hostName) in allKeyAudiences
				<tr>
					<td>${name}</td>
					<td>${hostName}</td>
					<td>
						$if device.get('isDevice'):
							Yes
					</td>
					<td>
						$if device.get('isSensor'):
							Yes
					</td>
					<td>
						$if device.get('isDevice'):
							<a href="/data/devices/${name}">devices/${name}</a>
						$elif device.get('isSensor'):
							<a href="/data/sensors/${name}">sensors/${name}</a>
					</td>
					<td>
						$ statusEntry = device.get('status')
						$if statusEntry:
							<a href="${statusEntry}">${statusEntry}</a>
					</td>
					<td>
						$if hasSecretKey:
							Yes
					</td>
					<td>
						$for action in device.get('actions', []):
							<a href=${action}>${action}</a><br>
					</td>
					<td>
						$if device.get('isDevice') and not hasSecretKey:
							<form action="/devices.html">
							<input type="hidden" name="action" value="addKey">
							<input type="hidden" name="hostName" value="${hostName}">
							<input type="submit" value="Create Key">
							</form><br>
						$if device.get('isSensor'):
							<form action="/devices.html">
								<input type="hidden" name="action" value="addAction">
								<input type="hidden" name="name" value="${name}">
								<input type="hidden" name="hostname" value="${hostName}">
								<input type="hidden" name="representing" value="${device.get('representing')}">
								<input type="submit" value="Add Action">
							</form><br>
						<form action="/devices.html">
							<input type="hidden" name="action" value="deleteDevice">
							<input type="hidden" name="name" value="${name}">
							<input type="hidden" name="hostname" value="${hostName}">
							<input type="submit" value="Delete Device">
						</form><br>
					</td>
				</tr>
		</table>
		
		<h2>Add Device</h2>
		
		<p>To be provided</p>
		
		<h2>Secret Shared Keys</h2>
		
		<p>A device that wants to contact Igor needs a shared secret key with itself (the device) as <i>subject</i> and Igor as the <i>audience</i>. This key is used by the device to sign the capability, and ensures to igor that the device is the right one.</p>
		
		<p>A device to which Igor needs to send requests needs a shared key with the device as <i>audience</i> and either no <i>subject</i> or Igor itself as
		the subject. Igor will sign capabilities with this key, and the device can confirm that the request actually comes from Igor.</p>
		
		<p>Igor has the following shared secret keys:</p>
		<table style="width:100%">
			<tr>
				<th>Issuer</th>
				<th>Audience</th>
				<th>Subject</th>
				<th>OP</th>
			</tr>
			$for iss, aud, sub in allKeysAsTuples:
				<tr>
					<td>${iss}</td>
					<td>${aud}</td>
					<td>${sub}</td>
					<td>
						<form action="/devices.html">
						<input type="hidden" name="action" value="deleteKey">
						<input type="hidden" name="iss" value="${iss}">
						<input type="hidden" name="aud" value="${aud}">
						<input type="hidden" name="sub" value="${sub}">
						<input type="submit" value="Delete Key">
						</form>
					</td>
				</tr>
			
		</table>
		
	$elif action == "addAction":
		<h1>Add action for device</h1>
		
		<p>To be provided</p>
		
	$elif action == "deleteKey":
		<h1>Delete Secret Shared Key</h1>
		
		<p>
		Are you sure you want to delete the secret key that allows subject <em>"${kwargs['sub']}"</em> to contact audience <em>"${kwargs['aud']}"</em> signed by
		issuer <em>"${kwargs['iss']}"</em>? This action cannot be undone.
		</p>
		
		<form action="/internal/accessControl/deleteSharedKey">
			<input type="hidden" name="iss" value="${kwargs['iss']}">
			<input type="hidden" name="aud" value="${kwargs['aud']}">
			<input type="hidden" name="sub" value="${kwargs['sub']}">
			<input type="hidden" name="returnTo" value="/devices.html">
			<input type="submit" value="Delete Secret Shared Key">
		</form>
		
		<p><a href="/devices.html">Return to device listing</a>.</p>
	$elif action == "deleteDevice":
		<h1>Delete Device</h1>
		
		<p>Are you sure you want to delete device <em>${kwargs['name']}</em> completely? This action cannot be undone.</p>
		<form action="/plugin/device/delete">
			<input name="returnTo" type="hidden" value="/devices.html">
			<input type="hidden" name="name" value="${kwargs['name']}"><br>
			<input type="hidden" name="hostname" value="${kwargs['hostname']}"><br>
			<input type="submit" value="Delete Device">
		</form>
		
		<p><a href="/devices.html">Return to device listing</a></p>

		

</body>
</html>
