$def with (action=None, device=None, **kwargs)
$code:
    def doList(token):
        allNames = _getNames('devices/*', token) + _getNames('sensors/*', token) + _getNames('status/sensors/*', token) + _getNames('status/devices/*', token)
        allNames = list(set(allNames))
        allNames.sort()
        rv = []
        for name in allNames:
            descr = dict(name=name)
            hostname = None
            representing = None
            if DATABASE.getElements('devices/' + name, 'get', token):
                descr['isDevice'] = True
                hostname = DATABASE.getValue('devices/%s/hostname' % name, token)
                representing = 'devices/' + name
            if DATABASE.getElements('sensors/' + name, 'get', token):
                descr['isSensor'] = True
                hostname = None
                representing = 'sensors/' + name
            if hostname:
                descr['hostname'] = hostname
                
            if DATABASE.getElements('status/devices/' + name, 'get', token):
                descr['status'] = '/data/status/devices/' + name
            elif DATABASE.getElements('status/sensors/' + name, 'get', token):
                descr['status'] = '/data/status/sensors/' + name
            
            if representing:
                actionElements = DATABASE.getElements("actions/action[representing='%s']" % representing, 'get', token)
                actionPaths = []
                for e in actionElements:
                    actionPaths.append(DATABASE.getXPathForElement(e))
                if actionPaths:
                    descr['actions'] = actionPaths
            rv.append(descr)
        return rv

    def _getNames(path, token):
        allElements = DATABASE.getElements(path, 'get', token)
        rv = []
        for e in allElements:
            name = e.tagName
            if ':' in name: continue
            rv.append(name)
        return rv

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Igor Users</title>
	<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	</style>
</head>
<body>

	$if action == None or action == 'list':
		<h1>Igor Devices and Sensors</h1>
	
		$if 'user' in SESSION and SESSION.user:
			<p>
				You are logged in as $SESSION.user.
				$if SESSION.user != 'admin':
					You may not have sufficient permissions for the commands below unless you login as user <i>admin</i>.
			</p>
		$else:
			<p>
				You are not logged in. This page will probably not render correctly.
			</p>
		
		<h2>Igor Devices</h2>
		
		<p>In Igor terms, a <i>device</i> is something that Igor may send commands to. It exports some sort of service (for example
		using <i>http</i> or <i>https</i>) that Igor can contact. If something is a device as well as a <i>sensor</i> it will be listed
		amongst the devices here.
		</p>
		
		<table style="width:100%">
			<tr>
				<th>Name</th>
				<th>Device?</th>
				<th>Sensor?</th>
				<th>Hostname</th>
				<th>Entry</th>
				<th>Status Entry</th>
				<th>Secret Shared key?</th>
				<th>Actions</th>
				<th>OP</th>
			</tr>
			$ deviceList = doList(token)
			$for device in deviceList:
				$ name=device.get('name')
				<tr>
					<td>${name}</td>
					<td>${device.get('hostname')}
					<td>
						$if device.get('isDevice'):
							Yes
					</td>
					<td>
						$if device.get('isSensor'):
							Yes
					</td>
					<td>
						$if device.get('isDevice'):
							<a href="/data/devices/${name}">devices/${name}</a>
						$elif device.get('isSensor'):
							<a href="/data/sensors/${name}">sensors/${name}</a>
					</td>
					<td>
						$ statusEntry = device.get('status')
						$if statusEntry:
							<a href="${statusEntry}">${statusEntry}</a>
					</td>
					<td>...</td>
					<td>
						$for action in device.get('actions', []):
							<a href=${action}>${action}</a><br>
					</td>
					<td>...</td>
				</tr>
		</table>
		
		<h1>Add Device</h1>
		
		<p>To be provided</p>
		
	$elif action == "addAction":
		<h1>Add action for device</h1>
		
		<p>To be provided</p>
		
	$elif action == "delete":
		<h1>Delete Device</h1>
		
$#		<p>Are you sure you want to delete user <b>${username}</b>? This action cannot be undone.</p>
$#		<form action="/plugin/user/delete">
$#			<input name="returnTo" type="hidden" value="/users.html">
$#			<input type="hidden" name="username" value="${username}"><br>
$#			<input type="submit" value="Delete">
$#		</form>
		
		<p><a href="/devices.html">Return to device listing</a></p>

		

</body>
</html>
