$def with ()
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Igor Home Page</title>
</head>
<body>
	<h1>Igor Home Page</h1>
	
	<p>
		This is your Igor home automation server, version ${DATABASE.getValue('/data/services/igor/version')}, 
		running on host ${DATABASE.getValue('/data/services/igor/host')}, 
		port ${DATABASE.getValue('/data/services/igor/port')}. Welcome!
	</p>
	<p>
		It has been running since ${DATABASE.getValue('igor_dateTime(/data/services/igor/startTime)')},
		and was rebooted ${DATABASE.getValue('/data/services/igor/rebootCount')} times during its lifetime.
	</p>
	
	<p>
		For a general overview of the health of the various systems monitored by Igor see <a href="/systemHealth.html">/systemHealth.html</a>.
	</p>
	
	<h2>Database access</h2>
	
	<p>
		Your raw database in XML can be found at <a href="/data/">/data/</a>. 
		You can append a path (technically: an XPath expression that resolves to a single node) to view a subsection of the database.
	</p>

	<p>
		You can also run general XPath expressions by appending them to <a href="/evaluate/">/evaluate/</a>.
	</p>
	
	<p>
		You can run
		individual actions by prefixing with <a href="/action/">/action/</a> (for example <a href="/action/save">/action/save</a>),
		plugins by prefixing with <a href="/plugin/">/plugin/</a> and a specific script for a specific plugin by constructing the url 
		<tt>/pluginscript/<i>pluginname</i>/<i>scriptname</i></tt>.
	</p>
		
	<h2>Debugging</h2>

	<p>
		For testing purposes you can run internal commands by prefixing them with <a href="/internal/">/internal/</a>, for example:
	</p>

	<ul>
		<li><a href="/internal/log">/internal/log</a> shows the httpd-style log file</li>
		<li><a href="/internal/dump">/internal/dump</a> dumps all runnable actions and the action storage datastructure with next runtimes</li>
	</ul>

</body>
</html>
