$def with ()
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Igor Home Page</title>
</head>
<body>
	<h1>Igor Home Page</h1>
	
	<p>
		This is your Igor home automation server, version ${DATABASE.getValue('/data/devices/igor/version')}, 
		running on <a href="${DATABASE.getValue('/data/devices/igor/url')}">${DATABASE.getValue('/data/devices/igor/host')}, 
		port ${DATABASE.getValue('/data/devices/igor/port')}</a>. Welcome!
	</p>
	<p>
		It has been running since ${DATABASE.getValue('/data/environment/introspection/lastActivity/reboot')},
		and was rebooted ${DATABASE.getValue('/data/environment/introspection/rebootCount')} times during its lifetime.
	</p>
	
	<h2>Database access</h2>
	
	<p>
		Your raw database in XML can be found at <a href="/data/">/data/</a>. 
		You can append a path (technically: an XPath expression that resolves to a single node) to view a subsection of the database.
	</p>

	<p>
		You can also run general XPath expressions by appending them to <a href="/evaluate/">/evaluate/</a>.
	</p>
	
	<p>
		For testing purposes you can run internal commands by prefixing them with <a href="/internal/">/internal/</a> 
		(for example <a href="/internal/log">/internal/log</a>),
		individual actions by prefixing with <a href="/action/">/action/</a> (for example <a href="/action/save">/action/save</a>) and
		plugins by prefixing with <a href="/plugin/">/plugin/</a>.
	</p>
		

</body>
</html>
