$def with ()
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Igor System Health</title>
	<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	</style>
</head>
<body>
	<h1>Igor System Health</h1>
	
	<p>
		Igor has been running since ${DATABASE.getValue('/data/environment/introspection/lastActivity/reboot')},
		and was rebooted ${DATABASE.getValue('/data/environment/introspection/rebootCount')} times during its lifetime.
	</p>
	
	<h2>Exceptional conditions</h2>
	
	$ messages = DATABASE.getValues('/data/environment/systemHealth/messages/*')
	$if messages:
		<p>The following exceptional conditions (for services, sensors and actuators) are currently noted:</p>
		<ul>
			$for xp, msg in messages:
				<li>$msg</li>
		</ul>
	$else:
		<p>Igor is currently not aware of any exceptional conditions (for services, sensors and actuators). </p>
		
	<h2>Service status</h2>
	
	$ services = DATABASE.getElements('/data/services/*')
	<table style="width:100%">
		<tr>
			<th>Service</th>
			<th>Alive?</th>
			<th>Error condition</th>
			<th>Ignored? (seconds)</th>
			<th>Ignore</th>
		</tr>
		$for s in services:
			<tr>
				<td>$s.tagName</td>
				<td>${DATABASE.getValue('/data/services/' + s.tagName + '/alive')}</td>
				$ msg = DATABASE.getValue('/data/services/' + s.tagName + '/errorMessage')
				<td>$msg</td>
				$ muted = DATABASE.getValue('/data/services/' + s.tagName + '/ignoreErrorUntil')
				<td>$muted</td>
				$if msg:
					<td>
						<a href="/plugin/systemHealth?ignore=services/${s.tagName}&duration=3600">1h</a> 
						<a href="/plugin/systemHealth?ignore=services/${s.tagName}&duration=86400">1d</a> 
						<a href="/plugin/systemHealth?ignore=services/${s.tagName}&duration=604800">1w</a> 
						<a href="/plugin/systemHealth?ignore=services/${s.tagName}&duration=2592000">1m</a>
					</td>
				$else:
					<td></td>
			</tr>
	</table>
		
		
	<h2>Device status</h2>
	
	$ sensors = DATABASE.getElements('/data/sensors/*')
	<table style="width:100%">
		<tr>
			<th>Sensor Class</th>
			<th>Last Activity</th>
			<th>Error condition</th>
			<th>Ignored? (seconds)</th>
			<th>Ignore</th>
		</tr>
		$for s in sensors:
			<tr>
				<td>$s.tagName</td>
				<td>${DATABASE.getValue('/data/sensors/' + s.tagName + '/lastActivity')}</td>
				$ msg = DATABASE.getValue('/data/sensors/' + s.tagName + '/errorMessage')
				<td>$msg</td>
				$ muted = DATABASE.getValue('/data/sensors/' + s.tagName + '/ignoreErrorUntil')
				<td>$muted</td>
				$if msg:
					<td>
						<a href="/plugin/systemHealth?ignore=sensors/${s.tagName}&duration=3600">1h</a> 
						<a href="/plugin/systemHealth?ignore=sensors/${s.tagName}&duration=86400">1d</a> 
						<a href="/plugin/systemHealth?ignore=sensors/${s.tagName}&duration=604800">1w</a> 
						<a href="/plugin/systemHealth?ignore=sensors/${s.tagName}&duration=2592000">1m</a>
					</td>
				$else:
					<td></td>
			</tr>
	</table>
		
		

</body>
</html>
