<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<style>
	table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
	}
	</style>
	<title>Iotsa Devices</title>
</head>
<body>
	<h1>Iotsa Devices</h1>
	{% set module = "buttons" %}
	{% set deviceStatus = pluginObject._getorset(device, module=module, protocol=protocol, credentials=credentials, port=port, noverify=noverify, includeConfig=True, token=token) %}
	{% set device = deviceStatus.device %}
	{% set buttonStatus = deviceStatus.get(module, {}) %}
	{% set buttons = buttonStatus.buttons %}
	{% set message = deviceStatus.message %}	
	{% if message %}
		<p><b>User intervention required:</b> {{message}}</p>
	{% endif %}
	

	<h2>Status for device {{device}}, module {{module}}</h2>
	<table>
		<tr>
			<th>Button</th>
			<th>Key</th>
			<th>Value</th>
		</tr>
		{% for button in buttons %}
			{% for k, v in button.items() %}
				<tr>
					{% if loop.first %}
						<td rowspan="{{button|length}}">{{loop.index0}}</td>
					{% endif %}
					<td>{{k}}</td>
					<td>{{v}}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
	
	<h2>Changing button actions</h2>
	
	{% if deviceStatus.config.currentMode == 1 or 1 %}
		{% for button in buttons %}
			<h3>Modify button {{loop.index0}} configuration</h3>
			<form action="/plugin/{{pluginName}}/setItem">
				<input type="hidden" name="device" value="{{device}}">
				<input type="hidden" name="module" value="{{module}}">
				<input type="hidden" name="returnTo" value="/plugin/{{pluginName}}/page/_showModuleButtons.html">
				<input type="hidden" name="index" value="{{loop.index0}}">
				<table>
					<tr>
						<th>Key</th>
						<th>Value</th>
						<th>Help</th>
					</tr>
					<tr>
						<td>url</td>
						<td><input type="text" name="url" value="{{button.url}}"></td>
						<td>URL to contact on button changes</td>
					</tr>
					<tr>
						<td>fingerprint</td>
						<td><input type="text" name="fingerprint" value="{{button.fingerprint}}"></td>
						<td>Certificate fingerprint to check when contacting URL (https only)</td>
					</tr>
					<tr>
						<td>credentials</td>
						<td><input type="text" name="credentials" value="{{button.credentials}}"></td>
						<td>Credentials supplied when contacting URL (username:password)</td>
					</tr>
					<tr>
						<td>token</td>
						<td><input type="text" name="x_token" value="{{button.token}}"></td>
						<td>Bearer token supplied when contacting URL</td>
					</tr>
					<tr>
						<td>onPress</td>
						<td><input type="checkbox" name="onPress" {{"checked" if button.onPress else ""}}></td>
						<td>Call URL when button is pressed</td>
					</tr>
					<tr>
						<td>onRelease</td>
						<td><input type="checkbox" name="onRelease" {{"checked" if button.onRelease else ""}}></td>
						<td>Call URL when button is released</td>
					</tr>
					<tr>
						<td colspan="3"><input type="submit" value="Modify button {{loop.index0}}"></td>
					</tr>
				</table>
			</form>
		{% endfor %}
	{% elif deviceStatus.config.requestedMode == 1 %}
		<p>
		You have requested configuration mode, but not rebooted {{device}} yet. Please do so within {{deviceStatus.config.requestedModeTimeout}} seconds and select
		<a href="_showModuleButtons.html?device={{device}}&module={{module}}">refresh</a>
		to reload this page.
		</p>
	{% else %}
		<p>To change button actions {{device}} must be in configuration mode. You can request the device to go to configuration mode on the 
		<a href="_showDevice.html?device={{device}}">device status page</a>.
		</p>
	{% endif %}
	<hr>
	<a href="_showDevice.html?device={{device}}">Return to {{device}} device status page.</a><br>
	<a href="/plugin/{{pluginName}}/page/index.html">Return to iotsa device setup page.</a><br>
	<a href="/">Return to Igor homepage</a>
	

</body>
</html>
