<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>433 Home Automation Appliances</title>
	<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	</style>
</head>
<body>
	<h1>433 Home Automation Appliances</h1>
	
	{% if op == "register" %}
		{% set message = pluginObject._do_register(callerToken, brand=brand, group=group, appliance=appliance) %}
		{% if message %}
			<p><em>Registration failed:</em> {{message}}</p>
		{% endif %}
	{% endif %}
	{% if op == "send" %}
		{% set message = pluginObject._do_send(callerToken, brand=brand, group=group, appliance=appliance, state=state) %}
		{% if message %}
			<p><em>Send failed:</em> {{message}}</p>
		{% endif %}
	{% endif %}
	{% if op == "setstate" %}
		{% set message = pluginObject._do_setstate(callerToken, brand=brand, group=group, appliance=appliance, state=state) %}
		{% if message %}
			<p><em>Setstate failed:</em> {{message}}</p>
		{% endif %}
	{% endif %}
	
	{% set receiverState = pluginObject._get_basic(callerToken, '/api/433receive') %}
	{% set received = receiverState.received %}
	{% set forwarders = receiverState.forwarders %}
		
	<h2>Introduction</h2>
	
	<p>Home automation 433MHz appliances tend to be bought in sets from some  <em>brand</em>, 
	such as one remote with 4 220V switching outlets. </p>

	<p>Each outlet controls one electrical <em>appliance</em> such as a specific lamp,
	with one set of ON and OFF buttons on the remote to control the <em>state</em> of the appliance.</p>
	
	<p>The remote and the outlets tend to have little DIP-switches to <em>group</em> the remote and the outlets.
	The outlets usually also have another set of DIP-switches to bind the outlet to a specific pair of ON/OFF buttons
	on the remote.</p>

	<p>This module treats both the pair of ON/OFF buttons and the corresponding outlet as one <em>appliance</em>.</p>

	<h2>Recently received remote control commands</h2>
	</p>
	
	<table style="width:100%">
		<tr>
			<th rowspan="2">Seconds ago</th>
			<th rowspan="2">Brand</th>
			<th rowspan="2">Group</th>
			<th rowspan="2">Appliance</th>
			<th rowspan="2">State</th>
			<th colspan="5">Low-level telegram</th>
		</tr>
		<tr>
			<th>protocol</th>
			<th>bits</th>
			<th>pulsewidth</th>
			<th>tristate</th>
			<th>binary</th>
		</tr>
		{% set receiverState = pluginObject._get_basic(callerToken, '/api/433receive') %}
		{% set received = receiverState.received %}
		{% for r in received %}
			<tr>
				<td>{{r.get('time') }}</td>
				<td>{{r.get('brand', '') }}</td>
				<td>{{r.get('group', '') }}</td>
				<td>{{r.get('appliance', '') }}</td>
				<td>{{r.get('state', '') }}</td>
				<td>{{r.get('telegram_protocol', '') }}</td>
				<td>{{r.get('telegram_bits', '') }}</td>
				<td>{{r.get('telegram_pulsewidth', '') }}</td>
				<td>{{r.get('telegram_tristate', '') }}</td>
				<td>{{r.get('telegram_binary', '') }}</td>
			</tr>
		{% endfor %}
	</table>
	<form><input type="submit" value="Refresh"></form>

	<h2>Registered appliances</h2>

	<p>This igor instance knows about the following 433MHz appliances handled by {{pluginObject.pluginName}}:</p>

	{% set currentStates = pluginObject._get_registered_appliances(callerToken) %}
	<table>
		<tr>
			<th>Brand</th>
			<th>Group</th>
			<th>Appliance</th>
			<th>State</th>
			<th>Change State</th>
		</tr>
		{% for item in currentStates %}
			<tr>
				<td>{{item.brand}}</td>
				<td>{{item.group}}</td>
				<td>{{item.appliance}}</td>
				<td>{{item.state}}</td>
				<td>
					<form>
						<input type="hidden" name="op" value="setstate">
						<input type="hidden" name="brand" value="{{item.brand}}">
						<input type="hidden" name="group" value="{{item.group}}">
						<input type="hidden" name="appliance" value="{{item.appliance}}">
						<input name="state" value="{{item.state}}">
						<input type="submit" value="Set">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>

	<h2>Registered appliance callbacks</h2>

	<p>The {{pluginObject.pluginName}} 433MHz bridge has the following callbacks registered:</p>

	<table>
		<tr>
			<th>Brand</th>
			<th>Group</th>
			<th>Appliance</th>
			<th>State</th>
			<th>URL</th>
			<th>more...</th>
		</tr>
		{% for item in forwarders %}
			<tr>
				<td>{{item.pop('brand')}}</td>
				<td>{{item.pop('group')}}</td>
				<td>{{item.pop('appliance')}}</td>
				<td>{{item.pop('state')}}</td>
				<td>{{item.pop('url')}}</td>
				<td>
					{% for k, v in item.items() %}
						{% if v %}
							{{k}}<br>
						{% endif %}
					{% endfor %}
				</td>
			</tr>
		{% endfor %}

	</table>
	
	<h2>

	<h2>Register new appliance or appliance group</h2>

	<p>Submit this to register a new appliance (or all appliances in a group by leaving the appliance field empty). The appliances will
	be registered both in this Igor instance (so you can control them for lighting, etc) and in the {{pluginObject.pluginName}} appliance 
	callbacks (so you can trigger on remote control button presses).</p>

	<p>When registering all appliances, after registering press all buttons on the remote, one by one, to fill the Igor data fields with all
	appliances.</p>

	<form>
		<input type="hidden" name="op" value="register">
		Brand: <input name="brand"><br>
		Group: <input name="group"><br>
		Appliance: <input name="appliance">(leave empty for all appliances in the group)</br>
		<input type="submit" value="Add">
	</form>

	<h2>Send manual command</h2>
	<form>
		<input type="hidden" name="op" value="send">
		Brand: <input name="brand"><br>
		Group: <input name="group"><br>
		Appliance: <input name="appliance"></br>
		State: <input name="state"></br>
		<input type="submit" value="Send">
	</form>
	<hr>
	{% if returnTo %}
		<a href="{{returnTo}}">Return to {{returnTo}}.</a><br>
	{% endif %}
	<a href="/">Return to Igor homepage</a>

</body>
</html>
