<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
Template for MacOSX launchd LaunchDaemons/LaunchAgents configuration file.
Replace percent-name-s by corresponding values:
igorDir - pathname of the igor Python package (where __main__.py lives)
user - username
database - directory where the database lives (usually ~user/.igor)
-->
<plist version="1.0">
    <dict>
    <key>Label</key>
    <string>nl.cwi.dis.igor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python</string>
        <string>%(igorDir)s</string>
        <string>-d</string>
        <string>%(database)s</string>
        <string>--advertise</string>
        <string>--nologstderr</string>
    </array>
    <key>WorkingDirectory</key>
    <string>%(database)s</string>
    <key>UserName</key>
    <string>%(user)s</string>
    <key>KeepAlive</key>
    <true/>
    </dict>
</plist>

